<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title bookmark
        // fontAwesome
        link(rel="stylesheet", href="css/all.min.css")
        // Bootstrap
        link(rel="stylesheet", href="css/bootstrap.min.css") 
        // our Style
        link(rel="stylesheet", href="css/style.css") 
    body
      // navbar
      .bookmark-navbar
        nav(class="navbar navbar-expand-lg navbar-light")
          .container
            a(class="navbar-brand", href="#")
              img(src="imgs/logo-bookmark.svg", alt="logo")
            button(class="navbar-toggler", type="button", data-toggle="collapse"): span.navbar-toggler-icon
            div(class="collapse navbar-collapse", id="mymenu")
              .mob-logo
                img(src="imgs/logo-bookmark3.svg", alt="logo")
                img(src="imgs/icon-close.svg",class="close_nav", alt="logo")
              ul(class="navbar-nav ml-auto")
                li(class="nav-item")
                  a(class="nav-link", href="#") features
                li(class="nav-item")
                  a(class="nav-link", href="#") pricing
                li(class="nav-item")
                  a(class="nav-link", href="#") contact
                li(class="nav-item")
                  button(class="btn btn-primary") login
              .socials-mob
                a(href="#"): img(src="imgs/icon-facebook.svg" alt="facebook-icon")
                a(href="#"): img(src="imgs/icon-twitter.svg" alt="twitter-icon")
      // header
      .header
        .container
          .row
            .col-md-6
              .header-left
                h1 a simple bookmark manager
                p a clean and simple interface to organize your favourite websites, open a new browser tab and see your sites load instantly, try it free now
                .header-btns
                  a(class="btn btn-primary", href="#") get it on chrome
                  a(class="btn btn-success", href="#") get it on firefox
            .col-md-6
              .header-right
                img(src="imgs/illustration-hero.svg", alt="web-face")
                div.back-face
      // features
      .features
        .container
          .feat-intro
            .row
              .col.text-center
                .intro
                  h2 features
                  p our aim is to make it quick and easy for you to access your favourite websites. your bookmarks sync between your devices so you can access them on the go
          .links
            .row
              .col
                .tabs-links
                  ul: .row.text-center
                    .col: .click: li(class="link active", data-tab="link1") simple bookmarking
                    .col: .click: li(class="link", data-tab="link2") speedy searching
                    .col: .click: li(class="link", data-tab="link3") easy sharing
          .content
            div.back-face
            .row(class="active link1")
              .col-md-6
                .feat-left
                  img(src="imgs/features-tab-1.svg", alt="web-face")
              .col-md-6
                .feat-right
                  h3 bookmark in one click
                  p organize your bookmarks however you like. our simple drag and drop interface gives you complete control over how you manage your favourite sites.
                  button(type="button",class="btn btn-info") more info
            .row(class="link2")
              .col
                .feat-left
                  img(src="imgs/features-tab-2.svg", alt="web-face")
              .col
                .feat-right
                  h3  intelligent search
                  p our powerful search feature will help you find saved sites in no time at all. no need to trawl through all of your bookmarks
                  button(class="btn btn-info") more info
            .row(class="link3")
              .col
                .feat-left
                  img(src="imgs/features-tab-3.svg", alt="web-face")
              .col
                .feat-right
                  h3 share your bookmarks
                  p easily share your bookmarks and collections with others. create a shareable link that you can send at the click on the button
                  button(class="btn btn-info") more info
      // Download
      .download
        .container
          .row.text-center
            .col
              .download-intro
                h2 download the extension
                p we have got more browseres in the pipeline . please do let us know if you have got a favourite you would like us to prioritize
          .row.text-center
            .col-md-4.col-sm-12
              .down-info
                img(src="imgs/logo-chrome.svg", alt="")
                .down-text
                  h5 add to chrome
                  p minimum version 66
                .bottom-info
                  img(src="imgs/bg-dots.svg", alt="")
                  button(class="btn btn-info") add and install extension
            .col-md-4.col-sm-12
              .down-info
                img(src="imgs/logo-firefox.svg", alt="")
                .down-text
                  h5 add to firefox
                  p minimum version 55
                .bottom-info
                  img(src="imgs/bg-dots.svg", alt="")
                  button(class="btn btn-info") add and install extension
            .col-md-4.col-sm-12
              .down-info
                img(src="imgs/logo-opera.svg", alt="")
                .down-text
                  h5 add to opera
                  p minimum version 46
                .bottom-info
                  img(src="imgs/bg-dots.svg", alt="")
                  button(class="btn btn-info") add and install extension
      // Questions
      .questions
        .container
          .row
             .col
              .question-intro.text-center
                 h2 frequently ask questions
                 p here are some of our #[span faq .] if you have any other questions you would like answered please feel free to tell us
          .row
            .col.text-center
              .ask-answer
                ul.list-group
                  li(class="list-group-item d-flex justify-content-between align-items-center", data-panel="answer1") what is bookmark?
                    span.badge.badge-pill: img(src="imgs/icon-arrow.svg" alt="icon")
                  div.answers.answer1.text-left
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium et id, aperiam ea voluptatum numquam iste suscipit possimus, vitae hic aspernatur dolores tenetur, mollitia fuga animi veritatis nobis necessitatibus delectus. ipsum dolor sit amet consectetur adipisicing elit. Praesentium et id.
                  li(class="list-group-item d-flex justify-content-between align-items-center", data-panel="answer2") how can i request a new browser?
                    span.badge.badge-pill: img(src="imgs/icon-arrow.svg" alt="icon")
                  div.answers.answer2.text-left
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium et id, aperiam ea voluptatum numquam iste suscipit possimus.
                  li(class="list-group-item d-flex justify-content-between align-items-center", data-panel="answer3") is there a mobile app?
                    span.badge.badge-pill: img(src="imgs/icon-arrow.svg" alt="icon")
                  div.answers.answer3.text-left
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium et id, aperiam ea voluptatum numquam iste suscipit possimus, vitae hic aspernatur dolores tenetur, mollitia fuga animi veritatis nobis necessitatibus delectus.
                  li(class="list-group-item d-flex justify-content-between align-items-center", data-panel="answer4") what about other chromum browsers?
                    span.badge.badge-pill: img(src="imgs/icon-arrow.svg" alt="icon")
                  div.answers.answer4.text-left
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium et id, aperiam ea voluptatum numquam iste suscipit possimus.
                button(class="btn btn-primary") more info
      // Footer
      .footer
        .container
          .row
            .col.text-center
              .footer-content
                p 35. 000 + already joined
                h2 stay up-to-date with what we are doing
                form
                  .form-group
                    .mygroups
                      input(type="email", class="form-control", placeholder="enter your email address")
                      img(src="imgs/icon-error.svg", alt="icon-error")
                      span.errors Oops, make sure it is an email
                    button(type="button", class="btn btn-primary") contact us
      // footer-bottom
      .footer-bottom
        .container
          .row
            .col-md-6.col-sm-12
              .bottom-left
                ul.list-unstyled
                  li: img(src="imgs/logo-bookmark2.svg" alt="footer-logo")
                  li.big: a(href="#") features
                  li.big: a(href="#") pricing
                  li.big: a(href="#") contact
                  div.small
                    li: a(href="#") features
                    li: a(href="#") pricing
                    li: a(href="#") contact
            .col-md-6.col-sm-12
              .bottom-right
                ul.list-unstyled
                  li: a(href="#"): img(src="imgs/icon-twitter.svg" alt="twitter-icon")
                  li: a(href="#"): img(src="imgs/icon-facebook.svg" alt="facebook-icon")
      // ### End Code ###
      // jquery
      script(src="js/jquery-1.12.0.min.js")
      // popper for bootstrap
      script(src="js/popper.min.js")
      // bootstrap
      script(src="js/bootstrap.min.js")
      // our script
      script(src="js/plugins.js")
      